html{
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fcfcfc;
  --text-color: black;
  --accent-color: rgb(46, 104, 170);
 

}



body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: linear-gradient(
  160deg,
  rgba(0, 136, 255, 0.312) 0%,
  white 50%
  
);

  
  
  background-repeat: no-repeat;
}

#MainContainer{
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

p{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 1.2rem;
  font-style: normal;
  color: var(--accent-color);

}

h2{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.7rem;
  font-style: normal;
  color: var(--accent-color);
  text-align: center;
  width: 80%;
  

}


#Logo img{
  padding-left: 20px;
  width: 3rem;
  height: 3rem;
}
#Logo h2:hover{
  letter-spacing: 2px;

}

#TopBar{

  width: 100%;     /* make it span the full width */
  height: 100px;
  display: flex;
  align-items: center;        /* vertical centering */
  justify-content: space-between; /* items spread left ↔ right */
  width: 100%;

}

#Logo{
   display: flex;
   flex-direction: row; /* stack vertically */
   gap: 10px;
    align-items: center;        /* vertical centering */
}
#Logo h2{
  font-weight: 600;
  color: var(--accent-color);
  transition: all 0.5s ease;

}
#InnerBurger{
   display: flex;
   flex-direction: row; /* stack vertically */
   gap: 30px;
}

#InnerBurger a{
   font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: var(--accent-color);
  transition: all 0.5s ease;
  font-size: 1.3rem;
  text-decoration: none;

}
#InnerBurger a:hover{

  font-weight: 600;

}

#sell{
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;        /* vertical centering */

}
#sell h3{
  width: 70%;
  text-align: center;
  
  margin: 2rem;
}
#sell p{
  width: 50%;
  text-align: center;
  
  margin: 2rem;
}
#screenshot{
  margin: 2rem;
  
  width: 100%;
  height: auto;
  padding: 0px;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(50, 125, 200, 0.4);
}



h3{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3.8rem;
  font-style: normal;
  color: var(--accent-color);
 
}

h6{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--accent-color);
 
}



#button{
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.3rem;
  font-style: normal;
  color: var(--bg-color);
  background-color: var(--accent-color);
  padding: 1rem;
  padding-left:4rem;
  padding-right:4rem;
  border-radius: 30px;
  transition: all 0.5s ease;
   box-shadow: 0px 0px 15px rgba(17, 126, 235, 0.4);
}
#button:hover{
  font-weight: 600;
   
    box-shadow: 0px 0px 30px rgba(17, 126, 235, 0.8);
   
 

}

#burger{
  display: none;
   
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 30px;
  padding-right: 2rem;
  font-style: normal;
  color: var(--accent-color);
  transition: all 0.5s ease;
}
#dropdown {
 
  
  display: hide;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  gap: 4rem;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease,
    transform 0.2s ease;

  justify-content: space-around; /* items spread left ↔ right */
   
}

#dropdown.open {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
}

#dropdown a{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--accent-color);
  margin: 0px;
   transition: all 0.5s ease;
   text-decoration: none;

}

#showcase{
  position: relative;
  display: flex;
   align-items: center;  
   flex-direction: column; /* stack vertically */ 

}



#vid{
  margin-top: 50px;
  position: absolute;
  border-radius: 1rem;
  width: 60%;
  height: auto;
   box-shadow: 0px 0px 20px rgba(50, 125, 200, 0.4);
}

#privVideo{
  width: 60%;
  height: auto;
  border-radius: 1.5rem;
  margin-top: 20px;
  
}



#space{
  height: 3rem;
}




#Improvements{
  width: 100%;
  align-items: center;
  align-self: center;
  
}

#gridImprovemntContainer{
  display: flex;
  flex-direction: row;
   align-items: center;        /* vertical centering */
  justify-content: space-around; /* items spread left ↔ right */
  height: 600px;
  width: 100%;
  gap: 2rem;
  
}

#Privacy{
  background-color: var(--accent-color);
  flex: 2;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
   align-items: center;        /* vertical centering */
  justify-content: space-around; /* items spread left ↔ right */
  

  
}





#chunk{
  flex: 2;
  height: 100%;
 
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
 
}

#chunk div{
  flex: 1;
  background-color: var(--bg-color);
  width: 100%;
 
  border-radius: 2rem;
}




#Improvements h3{
  width: 80%;
  font-weight: 500;
}

/* Phones (portrait) */
@media (max-width: 1000px) {
  html {
    
    #Improvements h3{
      width: 100%;
      font-size: 3rem;
    }

    
  }
}
#Sub-features{
  border: 3px solid rgba(136, 136, 136,0.2);
  flex: 0 1 auto;
  max-height: 100%;
  display: flex;
  justify-content: flex-end; /* pushes content to the bottom */
  align-items: flex-end;     /* pushes content to the right */
  flex-direction: column;

  justify-content: center;
  background-image: url('assets/fadeSubFeatures.png');
  background-size: cover;   /* makes it fill the div */
  background-position: center; /* center the image */
  min-height: 200px;
   text-align: right;
}
#Sub-features h6{
  font-size: 1.6rem;
  margin:0;
  padding-right: 20px;
  padding-top: 6rem;
 
}
#Sub-features p {
  width: 60%;
  margin:0;
  font-size: 1rem;
   padding-right: 20px;
 
}



/* Improvements */
#Costumization{
  display: flex;
  flex-direction: row;
  border: 3px solid rgba(136, 136, 136,0.2);
  align-items: center;
  gap: 1rem;
 


}
#costumimgdiv{
  padding-top: 30px;
  padding-bottom: 30px;
}
#costumimgdiv img{
  flex: 0 1 auto;      /* opt OUT of flex stretching */
  max-height: 90vh;     /* max 90% of viewport height */
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  align-self: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

#explanation{
  padding: 1rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
   background-color: transparent; /* ensures no background */

}
#explanation h6{
  font-size: 1.6rem;
  margin:0;
  background-color: transparent; /* ensures no background */
}
#explanation p {
  margin:0;
  font-size: 1rem;
  background-color: transparent; /* ensures no background */
}



/* Terms and conditions */

#info{
   width: 80%;
}


#teamimg img{
  width: 100%;
  max-height: 500px;
}

#privacyDetails h6{
  color: white;
  font-size: 1.6rem;
  margin:0;
 
}

#privacyDetails p{
  color: white;
}

#privacyDetails{

padding: 20px;


}

#eyeimage{
  width: 80%;
  height: auto;
    padding-bottom: 50px;
}
#hiddeneyeimage{
  width: 50%;
  height: auto;
  padding-top: 50px;
  
}



#PrivacyDoubleBox{
  display: flex;
  flex-direction: row;
  align-items: center;        /* vertical centering */
  justify-content: space-around; /* items spread left ↔ right */
  background-color: rgb(239, 239, 239);
  width: 60%;
  padding: 30px;
  border-radius: 2rem;

  

}

#comp{
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
 
  
}

#largp{
  font-size: 1.6rem;
   font-weight: 400;
   text-align: center;
   width: 60%;
}


#us{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 5px solid rgba(136, 136, 136,0.2);
}
#others{
  display: flex;
  flex-direction: column;
  align-items: center;
}



#instructions{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

#instrdiv div{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

#instrdiv{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 50px;

}
#instrimg{
  width: 300px;
  border-radius: 1rem;
  

}

#textsml{
 
    
    text-align: center;
  }



#contactcard{
  background-color: var(--accent-color);
  height: 300px;
  width: 100vw;        /* use viewport width instead of parent % */
  display: flex;
  flex-direction: row;
  align-items: center;
  
   
  
}
#contactLeft{
  flex: 2;
  display: flex;
  flex-direction: column;
  

 
  

}
#contactRight{
  flex: 3;
  display: flex;
  flex-direction: column;
}
#log{
  flex: 1;
  display: flex;
  flex-direction: row;
}
#log h2{
  font-size: 1.5rem;
  color: white;
  font-weight: 300;

}
#log h3{
  font-size: 1.5rem;
  color: white;
  font-weight: 500;

}

#contactRight h2{
   font-size: 1.5rem;
  color: white;
  font-weight: 500;

  width: 100%;
   text-align: right;

}

#contactRight h3{
   font-size: 1.5rem;
  color: white;
  font-weight: 300;
  text-align: right;


}

#spcc{
  width: 15rem;
}

/* Phones (portrait) */
@media (max-width: 1400px) {
  #gridImprovemntContainer{
    flex-direction: column;
     height: auto;

   
  }
  #spcc{
  width: 5rem;
  }
  
  #PrivacyDoubleBox{
      flex-direction: column;
    }
    #instrdiv{
       flex-direction: column;
  
    }
  #explanation h6{
  font-size: 1.3rem;
  margin:0;
}
#us{
  border-left: 5px solid rgba(136, 136, 136, 0);
  border-top: 5px solid rgba(136, 136, 136, 0.2);
}
#largp{
  width: 90%;
}
}


#instrimgdiv{
  padding: 1rem;
  background-color: rgba(136, 136, 136, 0.4);
  border-radius: 2rem;
}


/* Phones (portrait) */
@media (max-width: 800px) {
  html {
  font-size: 11px; 
  }
    #sell h3{
  width: 80%;
    }
    #sell p{
       width: 80%;

    }
    #instrimg{
      width: 200px;


    }
    

  
    #InnerBurger{
      display: none;
    }
    #burger{
      display: flex;
    }
    #dropdown{
       display: flex;
    }

    #MainContainer{
   
      width: 70%;
    }
    #About{
   flex-direction: column;
    }

  
  
 

  
    
}

